body {
  background: black;
  color: #C2B8B2;
  font-family: 'Roboto', sans-serif;
}

select {
  margin-right: 8px;
  background: #fff;
}

#editor {
  margin: 10px;
  padding: 8px;
  background: #191D32;
  border-radius: 24px;
  border: 2px solid #D82247;
  color: #ea47ff;
}

.codeItem {

}

.block {
  background: #0D454B;
  margin: 2px 0 8px 4px;
  padding: 4px;
  border-radius: 4px;
  border: 2px solid #C9643C;
}

.block.level0 {
  background: #191D32;
  border: 2px solid #D82247;
}

.insert, .remove {
  padding: 0 4px;
  display: inline-block;
  color: #fff;
  /* background: #C2B8B2; */
  font-size: 16px;
}

.remove {
  margin-left: 8px;
}

.insert:hover, .remove:hover {
  cursor: pointer;
}




.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #00979D;
}

.hljs-type,
.hljs-string,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #005C5F;
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-comment {
  color: rgba(149,165,166,.8);
}

.hljs-meta-keyword {
  color: #728E00;
}

.hljs-meta {
  color: #728E00;
  color: #434f54;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-function {
  color: #728E00;
}

.hljs-number {
  color: #8A7B52;
}
